.social_media {
  color: white;
  border-radius: 0.7em;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.social_media .icon {
  background: #fff;
  margin-right: 1em;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.5em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.2em;
  transition: all .7s;
  gap: 10px;
}

.social_media .icon a {
  color: #854d0e !important;
}

.shere {
  width: 1.3rem;
  height: 1.3rem;
}

.social_media:hover .icon {
  width: calc(100% - 0.6rem);
}

.social_media:hover .shere {
  width: calc(100% - 0.6rem);
  display: none;
}

.social_media .icon-shere {
  color: #854d0e;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

.social_media:hover .icon .icon-shere {
  display: flex;
}